body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.icon {
    background: url("C:/Users/HP/Web Static/images/icon.png") ;
    background-repeat: no-repeat;
}
